## load from html finance_yahoo

In [51]:
import pandas as pd
import requests

uri = 'https://finance.yahoo.com/markets/'
response = requests.get(uri)

In [52]:
df_financeyahoo_html = pd.read_html(io=response.text, encoding='utf-8')

/tmp/ipykernel_35341/1295319966.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_financeyahoo_html = pd.read_html(io=response.text, encoding='utf-8')

In [53]:
type(df_financeyahoo_html), len(df_financeyahoo_html)

(list, 20)

In [62]:
df_financeyahoo_html[0]

                    Symbol  Unnamed: 1                          Price Change %
0                  S&P 500         NaN       6,084.19 +49.28 (+0.82%)   +0.82%
1                   Dow 30         NaN      44,148.56 -99.27 (-0.22%)   -0.22%
2                   Nasdaq         NaN     20,034.89 +347.65 (+1.77%)   +1.77%
3             Russell 2000         NaN       2,394.16 +11.38 (+0.48%)   +0.48%
4                      VIX         NaN           13.76 +0.18 (+1.33%)   +1.33%
5                 IBOVESPA         NaN  129,593.31 +1,364.82 (+1.06%)   +1.06%
6  S&P/TSX Composite index         NaN     25,657.70 +153.37 (+0.60%)   +0.60%
7          US Dollar Index         NaN          106.59 -0.12 (-0.12%)   -0.12%

In [55]:
df_financeyahoo_page = df_financeyahoo_html[0]
df_financeyahoo_page

                    Symbol  Unnamed: 1                          Price Change %
0                  S&P 500         NaN       6,084.19 +49.28 (+0.82%)   +0.82%
1                   Dow 30         NaN      44,148.56 -99.27 (-0.22%)   -0.22%
2                   Nasdaq         NaN     20,034.89 +347.65 (+1.77%)   +1.77%
3             Russell 2000         NaN       2,394.16 +11.38 (+0.48%)   +0.48%
4                      VIX         NaN           13.76 +0.18 (+1.33%)   +1.33%
5                 IBOVESPA         NaN  129,593.31 +1,364.82 (+1.06%)   +1.06%
6  S&P/TSX Composite index         NaN     25,657.70 +153.37 (+0.60%)   +0.60%
7          US Dollar Index         NaN          106.59 -0.12 (-0.12%)   -0.12%

In [56]:
type(df_financeyahoo_page), len(df_financeyahoo_page)

(pandas.core.frame.DataFrame, 8)

In [57]:
df_financeyahoo_page.to_csv('../datasets/load_html_save_csv.csv')

In [58]:
# 이산형
df_financeyahoo_page.describe()

       Unnamed: 1
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

In [59]:
# 범주형
df_financeyahoo_page.describe(include='object')

         Symbol                     Price Change %
count         8                         8        8
unique        8                         8        8
top     S&P 500  6,084.19 +49.28 (+0.82%)   +0.82%
freq          1                         1        1

In [60]:
df_financeyahoo_page.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      8 non-null      object
 1   Unnamed: 1  0 non-null      float64
 2   Price       8 non-null      object
 3   Change %    8 non-null      object
dtypes: float64(1), object(3)
memory usage: 388.0+ bytes