## quest

In [48]:
import pandas as pd

####
1. DataFrame 생성
위 데이터를 DataFrame으로 생성하세요. 컬럼 이름은 ['종목코드', '종목명', '시작일 기준가', '종료일 종가', '대비', '등락률', '거래량', '거래대금']로 설정하세요.

In [49]:
quest = {
    '종목코드' : [60310, 95570, 6840, 54620]
    ,'종목명' : ['3S', 'AJ네트웍스', 'AK홀딩스', 'APS']
    ,'시작일기준가' : [1890, 4600, 11200, 5660]
    ,'종료일종가' : [1941, 4745, 11070, 5700]
    ,'대비' : [51, 145, -130, 40]
    ,'등락률' : [2.7, 3.15, -1.16, 0.71]
    ,'거래량' : [3092688, 1046201, 55481, 208525]
    ,'거래대금' : [5595723413, 480695593, 604085850, 1129272070]
    }

stock_list = pd.DataFrame(quest)
stock_list

    종목코드     종목명  시작일기준가  종료일종가   대비   등락률      거래량        거래대금
0  60310      3S    1890   1941   51  2.70  3092688  5595723413
1  95570  AJ네트웍스    4600   4745  145  3.15  1046201   480695593
2   6840   AK홀딩스   11200  11070 -130 -1.16    55481   604085850
3  54620     APS    5660   5700   40  0.71   208525  1129272070

#### 2.기본 분석
- 각 종목의 대비 열의 총합을 계산하세요.
- 종목코드를 인덱스로 설정한 후, 종목명과 등락률만 포함하는 새로운 DataFrame을 생성하세요.
- 등락률의 평균을 계산하세요.

In [50]:
stock_list[['대비']].sum()

대비    106
dtype: int64

In [51]:
new_stock_list = stock_list.set_index(keys = '종목코드').loc[:, ['종목명','등락률']]
new_stock_list

          종목명   등락률
종목코드
60310      3S  2.70
95570  AJ네트웍스  3.15
6840    AK홀딩스 -1.16
54620     APS  0.71

In [52]:
new_stock_list[['등락률']].mean()

등락률    1.35
dtype: float64

#### 3.조건에 따른 필터링
- 등락률이 양수인 종목만 필터링하여 출력하세요.
- 거래대금이 10억 이상인 종목의 종목명과 거래대금을 출력하세요.

In [68]:
positive_stock = new_stock_list.loc[new_stock_list['등락률'] > 0]
positive_stock

          종목명   등락률
종목코드
60310      3S  2.70
95570  AJ네트웍스  3.15
54620     APS  0.71

In [70]:
high_trade = stock_list.loc[stock_list['거래대금'] > 1000000000, ['종목명','거래대금']]
high_trade

   종목명        거래대금
0   3S  5595723413
3  APS  1129272070

#### 4. 5. 시간 부족으로 gpt 복붙 나중에 코드 확인하기

#### 4. 데이터 변환 및 정렬
- 거래량 기준으로 DataFrame을 내림차순으로 정렬하세요.
- 등락률을 기준으로 종목명을 오름차순으로 정렬하여 새로운 DataFrame을 생성하세요.

In [73]:
stock_list_sorted_by_volume = stock_list.sort_values(by='거래량', ascending=False) # False = 내림차순
stock_list_sorted_by_volume

    종목코드     종목명  시작일기준가  종료일종가   대비   등락률      거래량        거래대금
0  60310      3S    1890   1941   51  2.70  3092688  5595723413
1  95570  AJ네트웍스    4600   4745  145  3.15  1046201   480695593
3  54620     APS    5660   5700   40  0.71   208525  1129272070
2   6840   AK홀딩스   11200  11070 -130 -1.16    55481   604085850

In [74]:
stock_list_sorted_by_change_rate = stock_list.sort_values(by='등락률', ascending=True) # True = 오름차순
stock_list_sorted_by_change_rate

    종목코드     종목명  시작일기준가  종료일종가   대비   등락률      거래량        거래대금
2   6840   AK홀딩스   11200  11070 -130 -1.16    55481   604085850
3  54620     APS    5660   5700   40  0.71   208525  1129272070
0  60310      3S    1890   1941   51  2.70  3092688  5595723413
1  95570  AJ네트웍스    4600   4745  145  3.15  1046201   480695593

#### 5. 추가 컬럼 생성
- 수익률(= (종료일 종가 - 시작일 기준가) / 시작일 기준가 * 100)이라는 새로운 열을 추가하세요.
- 거래량 대비 거래대금이라는 열을 추가하여 거래대금을 거래량으로 나눈 값을 계산하세요.

In [75]:
stock_list['수익률'] = (stock_list['종료일종가'] - stock_list['시작일기준가']) / stock_list['시작일기준가'] * 100
stock_list

    종목코드     종목명  시작일기준가  종료일종가   대비   등락률      거래량        거래대금       수익률
0  60310      3S    1890   1941   51  2.70  3092688  5595723413  2.698413
1  95570  AJ네트웍스    4600   4745  145  3.15  1046201   480695593  3.152174
2   6840   AK홀딩스   11200  11070 -130 -1.16    55481   604085850 -1.160714
3  54620     APS    5660   5700   40  0.71   208525  1129272070  0.706714

In [76]:
stock_list['거래량 대비 거래대금'] = stock_list['거래대금'] / stock_list['거래량']
stock_list

,종목코드,종목명,시작일기준가,종료일종가,대비,등락률,거래량,거래대금,수익률,거래량 대비 거래대금
0,60310,3S,1890,1941,51,2.70,3092688,5595723413,2.698413,1809.339776
1,95570,AJ네트웍스,4600,4745,145,3.15,1046201,480695593,3.152174,459.467725
2,6840,AK홀딩스,11200,11070,-130,-1.16,55481,604085850,-1.160714,10888.157207
3,54620,APS,5660,5700,40,0.71,208525,1129272070,0.706714,5415.523654