## Quest solve_series

In [25]:
import pandas as pd

In [26]:
employee_ids = [101, 102, 103, 104, 105]
names = ["Alice", "Bob", "Charlie", "David", "Eva"]
salaries = [70000, 80000, 120000, 90000, 110000]
departments = ["HR", "IT", "Finance", "IT", "Finance"]

## 1.Series 생성:
- 직원 ID를 인덱스로 사용하고, 직원 이름을 값으로 갖는 Series를 생성하세요.

In [27]:
new_id = pd.Series(index = employee_ids, data = names)
new_id

101      Alice
102        Bob
103    Charlie
104      David
105        Eva
dtype: object

- 직원 ID를 인덱스로 사용하고, 월급을 값으로 갖는 Series를 생성하세요.

In [28]:
new_id2 = pd.Series(index = employee_ids, data = salaries)
new_id2

101     70000
102     80000
103    120000
104     90000
105    110000
dtype: int64

## 2.연산 및 필터링:
- 월급이 90,000 이상인 직원들의 이름과 월급을 출력하세요.

In [33]:
# employee_ids = [101, 102, 103, 104, 105]
# names = ["Alice", "Bob", "Charlie", "David", "Eva"]
# salaries = [70000, 80000, 120000, 90000, 110000]
# departments = ["HR", "IT", "Finance", "IT", "Finance"]
new_id3 = pd.Series(index = names, data = salaries)         
new_id3

Alice       70000
Bob         80000
Charlie    120000
David       90000
Eva        110000
dtype: int64

In [34]:
conditions = (new_id3 > 90000)
conditions

Alice      False
Bob        False
Charlie     True
David      False
Eva         True
dtype: bool

In [36]:
new_id3[conditions]

Charlie    120000
Eva        110000
dtype: int64

- 월급의 평균을 계산하세요.

In [38]:
calcultion = sum(salaries) / 5
calcultion

94000.0

- 월급이 평균 이상인 직원들의 이름을 출력하세요.

In [41]:
conditions = (new_id3 > 94000.0)
conditions

Alice      False
Bob        False
Charlie     True
David      False
Eva         True
dtype: bool

In [42]:
new_id3[conditions]

Charlie    120000
Eva        110000
dtype: int64

3.데이터 변환:
- 부서 정보를 Series로 변환하여 직원 ID를 인덱스로 설정하세요.

In [43]:
id_depart = pd.Series(index = employee_ids, data = departments)
id_depart

101         HR
102         IT
103    Finance
104         IT
105    Finance
dtype: object

- 월급과 부서 정보를 결합하여 각 직원의 월급과 부서를 표시하는 새로운 Series를 생성하세요.

In [49]:
salaries_depart = [f"{salary}, {depart}" for salary, depart in zip(salaries, departments)]
id_salaries_depart = pd.Series(index = employee_ids, data = salaries_depart)
id_salaries_depart

101          70000, HR
102          80000, IT
103    120000, Finance
104          90000, IT
105    110000, Finance
dtype: object

4. 응용
- 월급을 10% 인상한 값을 반영한 새로운 Series를 생성하세요

In [56]:
salaries_series = pd.Series(salaries)
increased_salaries = salaries_series * 1.1
increased_salaries

0     77000.0
1     88000.0
2    132000.0
3     99000.0
4    121000.0
dtype: float64

- 직원 이름을 대문자로 변환한 새로운 Series를 생성하세요.

In [57]:
small_name = pd.Series(names)
capital_name = small_name.upper()
capital_name

AttributeError: 'Series' object has no attribute 'upper'

- 직원 중 IT 부서에 속한 사람들의 월급 총합을 계산하세요.

In [ ]:
# employee_ids = [101, 102, 103, 104, 105]
# names = ["Alice", "Bob", "Charlie", "David", "Eva"]
# salaries = [70000, 80000, 120000, 90000, 110000]
# departments = ["HR", "IT", "Finance", "IT", "Finance"]