In [41]:
from pykrx import stock
import numpy as np
import matplotlib.pyplot as plt

In [54]:
df_samsung = stock.get_market_ohlcv_by_date('20101001','20241230','005930')
df_samsung.tail()

               시가     고가     저가     종가       거래량       등락률
날짜
2024-12-20  52700  53100  51900  53000  24674774 -0.188324
2024-12-23  53400  54000  53300  53500  13672650  0.943396
2024-12-24  53700  54500  53600  54400  11634677  1.682243
2024-12-26  54500  54600  53500  53600  10517075 -1.470588
2024-12-27  53500  54100  53200  53700  10641246  0.186567

In [43]:
# 변동폭 컬럼 계산추가
df_samsung['변동폭'] = df_samsung['고가'] - df_samsung['저가']

In [44]:
# 전일 변동폭과 컬럼 shift를 이용해
df_samsung['전일변동폭'] = df_samsung['변동폭'].shift(periods=1)
df_samsung.head(4)

               시가     고가     저가     종가     거래량       등락률  변동폭  전일변동폭
날짜
2010-10-01  15440  15560  15380  15540  296366  0.000000  180    NaN
2010-10-04  15599  15620  15480  15600  257594  0.386100  140  180.0
2010-10-05  15440  15580  15420  15460  286977 -0.897436  160  140.0
2010-10-06  15560  15880  15520  15860  471103  2.587322  360  160.0

In [45]:
# 목표가 계산하여 컬럼추가 0.1 ~ 1.0
df_samsung['목표가_k_0.1'] = df_samsung['시가'] + (df_samsung['전일변동폭'] * 0.1)
# df_samsung['목표가_k_0.2'] = df_samsung['시가'] + (df_samsung['전일변동폭'] * 0.2)
# df_samsung['목표가_k_0.3'] = df_samsung['시가'] + (df_samsung['전일변동폭'] * 0.3)
# df_samsung['목표가_k_0.4'] = df_samsung['시가'] + (df_samsung['전일변동폭'] * 0.4)
# df_samsung['목표가_k_0.5'] = df_samsung['시가'] + (df_samsung['전일변동폭'] * 0.5)
# df_samsung['목표가_k_0.6'] = df_samsung['시가'] + (df_samsung['전일변동폭'] * 0.6)
# df_samsung['목표가_k_0.7'] = df_samsung['시가'] + (df_samsung['전일변동폭'] * 0.7)
# df_samsung['목표가_k_0.8'] = df_samsung['시가'] + (df_samsung['전일변동폭'] * 0.8)
# df_samsung['목표가_k_0.9'] = df_samsung['시가'] + (df_samsung['전일변동폭'] * 0.9)
# df_samsung['목표가_k_1'] = df_samsung['시가'] + (df_samsung['전일변동폭'] * 1)

In [46]:
df_samsung.head()

,시가,고가,저가,종가,거래량,등락률,변동폭,전일변동폭,목표가_k_0.1
날짜,,,,,,,,,
2010-10-01,15440,15560,15380,15540,296366,0.000000,180,NaN,NaN
2010-10-04,15599,15620,15480,15600,257594,0.386100,140,180.0,15617.0
2010-10-05,15440,15580,15420,15460,286977,-0.897436,160,140.0,15454.0
2010-10-06,15560,15880,15520,15860,471103,2.587322,360,160.0,15576.0
2010-10-07,15580,15660,15380,15400,511410,-2.900378,280,360.0,15616.0

In [47]:
# 매수조건
conditions_1 = df_samsung['고가'] >= df_samsung['목표가_k_0.1']
# conditions_2 = df_samsung['고가'] >= df_samsung['목표가_k_0.2']
# conditions_3 = df_samsung['고가'] >= df_samsung['목표가_k_0.3']
# conditions_4 = df_samsung['고가'] >= df_samsung['목표가_k_0.4']
# conditions_5 = df_samsung['고가'] >= df_samsung['목표가_k_0.5']
# conditions_6 = df_samsung['고가'] >= df_samsung['목표가_k_0.6']
# conditions_7 = df_samsung['고가'] >= df_samsung['목표가_k_0.7']
# conditions_8 = df_samsung['고가'] >= df_samsung['목표가_k_0.8']
# conditions_9 = df_samsung['고가'] >= df_samsung['목표가_k_0.9']
# conditions_10 = df_samsung['고가'] >= df_samsung['목표가_k_1']

In [48]:
# 수익률 계산
df_samsung['수익률_k_0.1'] = np.where(conditions_1, df_samsung['종가'] / df_samsung['목표가_k_0.1'], 1)
# df_samsung['수익률_k_0.2'] = np.where(conditions_2, df_samsung['종가'] / df_samsung['목표가_k_0.2'], 1)
# df_samsung['수익률_k_0.3'] = np.where(conditions_3, df_samsung['종가'] / df_samsung['목표가_k_0.3'], 1)
# df_samsung['수익률_k_0.4'] = np.where(conditions_4, df_samsung['종가'] / df_samsung['목표가_k_0.4'], 1)
# df_samsung['수익률_k_0.5'] = np.where(conditions_5, df_samsung['종가'] / df_samsung['목표가_k_0.5'], 1)
# df_samsung['수익률_k_0.6'] = np.where(conditions_6, df_samsung['종가'] / df_samsung['목표가_k_0.6'], 1)
# df_samsung['수익률_k_0.7'] = np.where(conditions_7, df_samsung['종가'] / df_samsung['목표가_k_0.7'], 1)
# df_samsung['수익률_k_0.8'] = np.where(conditions_8, df_samsung['종가'] / df_samsung['목표가_k_0.8'], 1)
# df_samsung['수익률_k_0.9'] = np.where(conditions_9, df_samsung['종가'] / df_samsung['목표가_k_0.9'], 1)
# df_samsung['수익률_k_1'] = np.where(conditions_10, df_samsung['종가'] / df_samsung['목표가_k_1'], 1)

In [49]:
df_samsung.tail()

,시가,고가,저가,종가,거래량,등락률,변동폭,전일변동폭,목표가_k_0.1,수익률_k_0.1
날짜,,,,,,,,,,
2024-12-20,52700,53100,51900,53000,24674774,-0.188324,1200,700.0,52770.0,1.004359
2024-12-23,53400,54000,53300,53500,13672650,0.943396,700,1200.0,53520.0,0.999626
2024-12-24,53700,54500,53600,54400,11634677,1.682243,900,700.0,53770.0,1.011717
2024-12-26,54500,54600,53500,53600,10517075,-1.470588,1100,900.0,54590.0,0.981865
2024-12-27,53500,54100,53200,53700,10641246,0.186567,900,1100.0,53610.0,1.001679

In [50]:
df_samsung['누적수익률_1'] = df_samsung['수익률_k_0.1'].cumprod()
# df_samsung['누적수익률_2'] = df_samsung['수익률_k_0.2'].cumprod()
# df_samsung['누적수익률_3'] = df_samsung['수익률_k_0.3'].cumprod()
# df_samsung['누적수익률_4'] = df_samsung['수익률_k_0.4'].cumprod()
# df_samsung['누적수익률_5'] = df_samsung['수익률_k_0.5'].cumprod()
# df_samsung['누적수익률_6'] = df_samsung['수익률_k_0.6'].cumprod()
# df_samsung['누적수익률_7'] = df_samsung['수익률_k_0.7'].cumprod()
# df_samsung['누적수익률_8'] = df_samsung['수익률_k_0.8'].cumprod()
# df_samsung['누적수익률_9'] = df_samsung['수익률_k_0.9'].cumprod()
# df_samsung['누적수익률_10'] = df_samsung['수익률_k_1'].cumprod()

df_samsung['누적수익률_1']

날짜
2010-10-01    1.000000
2010-10-04    0.998911
2010-10-05    0.999299
2010-10-06    1.017520
2010-10-07    1.003445
                ...
2024-12-20         inf
2024-12-23         inf
2024-12-24         inf
2024-12-26         inf
2024-12-27         inf
Name: 누적수익률_1, Length: 3510, dtype: float64

In [51]:
df_samsung.tail()

,시가,고가,저가,종가,거래량,등락률,변동폭,전일변동폭,목표가_k_0.1,수익률_k_0.1,누적수익률_1
날짜,,,,,,,,,,,
2024-12-20,52700,53100,51900,53000,24674774,-0.188324,1200,700.0,52770.0,1.004359,inf
2024-12-23,53400,54000,53300,53500,13672650,0.943396,700,1200.0,53520.0,0.999626,inf
2024-12-24,53700,54500,53600,54400,11634677,1.682243,900,700.0,53770.0,1.011717,inf
2024-12-26,54500,54600,53500,53600,10517075,-1.470588,1100,900.0,54590.0,0.981865,inf
2024-12-27,53500,54100,53200,53700,10641246,0.186567,900,1100.0,53610.0,1.001679,inf

In [52]:
# 투자기간 연으로 환산
delta_days = df_samsung.index[-1] - df_samsung.index[0]
delta_days.days

year = delta_days.days / 365
year

14.24931506849315

In [53]:
# 누적 수익률을 이용한 CAGR 계산 
CAGR_1 = df_samsung['누적수익률_1'].iloc[-1] ** (1/year) - 1
CAGR_2 = df_samsung['누적수익률_2'].iloc[-1] ** (1/year) - 1
CAGR_3 = df_samsung['누적수익률_3'].iloc[-1] ** (1/year) - 1
CAGR_4 = df_samsung['누적수익률_4'].iloc[-1] ** (1/year) - 1
CAGR_5 = df_samsung['누적수익률_5'].iloc[-1] ** (1/year) - 1
CAGR_6 = df_samsung['누적수익률_6'].iloc[-1] ** (1/year) - 1
CAGR_7 = df_samsung['누적수익률_7'].iloc[-1] ** (1/year) - 1
CAGR_8 = df_samsung['누적수익률_8'].iloc[-1] ** (1/year) - 1
CAGR_9 = df_samsung['누적수익률_9'].iloc[-1] ** (1/year) - 1
CAGR_10 = df_samsung['누적수익률_10'].iloc[-1] ** (1/year) - 1

CAGR_ * 100

KeyError: '누적수익률_2'

(inf, inf)