## DB에 임시데이터 입력

In [77]:
from pymongo import MongoClient

In [78]:
# 네트워크 연결 규칙 : 어떤 형식://어떤 컴퓨터:어떤 응용프로그램/어떤 function or Database
client = MongoClient('mongodb://python_jupyternote_mongo-mongodb-1:27017')

db_name = client['pandas_db']

In [79]:
type(db_name)

pymongo.synchronous.database.Database

In [80]:
phone_collection = db_name['phone_list']
type(phone_collection)

pymongo.synchronous.collection.Collection

In [81]:
# 데이터 정의
data = [ 
        {"index": 0, "date": "15/10/14 06:58", "duration": 34.429, "item": "data", "month": "2014-11", "network": "data", "network_type": "data"}
        , {"index": 1, "date": "15/10/14 06:58", "duration": 13.000, "item": "call", "month": "2014-11", "network": "Vodafone", "network_type": "mobile"}
        , {"index": 2, "date": "15/10/14 14:46", "duration": 23.000, "item": "call", "month": "2014-11", "network": "Meteor", "network_type": "mobile"}
        , {"index": 3, "date": "15/10/14 14:48", "duration": 4.000, "item": "call", "month": "2014-11", "network": "Tesco", "network_type": "mobile"}
        , {"index": 4, "date": "15/10/14 17:27", "duration": 4.000, "item": "call", "month": "2014-11", "network": "Tesco", "network_type": "mobile"} 
        ]

In [82]:
result = phone_collection.insert_many(data)

In [83]:
result.inserted_ids

[ObjectId('675b9336c0fef9d6e69c6f04'),
 ObjectId('675b9336c0fef9d6e69c6f05'),
 ObjectId('675b9336c0fef9d6e69c6f06'),
 ObjectId('675b9336c0fef9d6e69c6f07'),
 ObjectId('675b9336c0fef9d6e69c6f08')]

## load from DB

In [84]:
find_data = phone_collection.find()
type(find_data)

pymongo.synchronous.cursor.Cursor

In [85]:
phone_data = list(find_data)
phone_data

[{'_id': ObjectId('675b8ddbc0fef9d6e69c6ee6'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b8ddbc0fef9d6e69c6ee7'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8ddbc0fef9d6e69c6ee8'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8ddbc0fef9d6e69c6ee9'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8ddbc0fef9d6e69c6eea'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fcbc0fef9d6e69c6eec'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b8fcbc0fef9d6e69c6eed'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fcbc0fef9d6e69c6eee'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fcbc0fef9d6e69c6eef'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b8fcbc0fef9d6e69c6ef0'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b91fec0fef9d6e69c6ef2'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b91fec0fef9d6e69c6ef3'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b91fec0fef9d6e69c6ef4'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b91fec0fef9d6e69c6ef5'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b91fec0fef9d6e69c6ef6'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b9226c0fef9d6e69c6ef8'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b9226c0fef9d6e69c6ef9'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b9226c0fef9d6e69c6efa'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b9226c0fef9d6e69c6efb'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b9226c0fef9d6e69c6efc'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b9269c0fef9d6e69c6efe'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b9269c0fef9d6e69c6eff'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b9269c0fef9d6e69c6f00'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b9269c0fef9d6e69c6f01'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b9269c0fef9d6e69c6f02'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b9336c0fef9d6e69c6f04'),
  'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'_id': ObjectId('675b9336c0fef9d6e69c6f05'),
  'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b9336c0fef9d6e69c6f06'),
  'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b9336c0fef9d6e69c6f07'),
  'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'_id': ObjectId('675b9336c0fef9d6e69c6f08'),
  'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'}]

In [86]:
import pandas as pd

In [87]:
df_phone_list = pd.DataFrame(phone_data)

In [88]:
df_phone_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           30 non-null     object
 1   index         30 non-null     int64
 2   date          30 non-null     object
 3   duration      30 non-null     float64
 4   item          30 non-null     object
 5   month         30 non-null     object
 6   network       30 non-null     object
 7   network_type  30 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 2.0+ KB

In [89]:
df_phone_list.describe(include='all')

,_id,index,date,duration,item,month,network,network_type
count,30,30.00000,30,30.000000,30,30,30,30
unique,30,NaN,4,NaN,2,1,4,2
top,675b8ddbc0fef9d6e69c6ee6,NaN,15/10/14 06:58,NaN,call,2014-11,Tesco,mobile
freq,1,NaN,12,NaN,24,30,12,24
mean,NaN,2.00000,NaN,15.685800,NaN,NaN,NaN,NaN
std,NaN,1.43839,NaN,11.905963,NaN,NaN,NaN,NaN
min,NaN,0.00000,NaN,4.000000,NaN,NaN,NaN,NaN
25%,NaN,1.00000,NaN,4.000000,NaN,NaN,NaN,NaN
50%,NaN,2.00000,NaN,13.000000,NaN,NaN,NaN,NaN
75%,NaN,3.00000,NaN,23.000000,NaN,NaN,NaN,NaN
max,NaN,4.00000,NaN,34.429000,NaN,NaN,NaN,NaN

## save to DB

In [90]:
# type(df_phone_list)
df_phone_list_without_id = df_phone_list.drop('_id', axis=1)
df_phone_list_without_id

    index            date  duration  item    month   network network_type
0       0  15/10/14 06:58    34.429  data  2014-11      data         data
1       1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2       2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3       3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4       4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
5       0  15/10/14 06:58    34.429  data  2014-11      data         data
6       1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
7       2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
8       3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
9       4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
10      0  15/10/14 06:58    34.429  data  2014-11      data         data
11      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
12      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
13      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
14      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
15      0  15/10/14 06:58    34.429  data  2014-11      data         data
16      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
17      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
18      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
19      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
20      0  15/10/14 06:58    34.429  data  2014-11      data         data
21      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
22      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
23      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
24      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
25      0  15/10/14 06:58    34.429  data  2014-11      data         data
26      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
27      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
28      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
29      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [91]:
data_to_insert = df_phone_list_without_id.to_dict(orient='records')
data_to_insert

[{'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'index': 0,
  'date': '15/10/14 06:58',
  'duration': 34.429,
  'item': 'data',
  'month': '2014-11',
  'network': 'data',
  'network_type': 'data'},
 {'index': 1,
  'date': '15/10/14 06:58',
  'duration': 13.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Vodafone',
  'network_type': 'mobile'},
 {'index': 2,
  'date': '15/10/14 14:46',
  'duration': 23.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Meteor',
  'network_type': 'mobile'},
 {'index': 3,
  'date': '15/10/14 14:48',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'},
 {'index': 4,
  'date': '15/10/14 17:27',
  'duration': 4.0,
  'item': 'call',
  'month': '2014-11',
  'network': 'Tesco',
  'network_type': 'mobile'}]

In [92]:
result = phone_collection.insert_many(data_to_insert)

In [93]:
result.inserted_ids

[ObjectId('675b9336c0fef9d6e69c6f09'),
 ObjectId('675b9336c0fef9d6e69c6f0a'),
 ObjectId('675b9336c0fef9d6e69c6f0b'),
 ObjectId('675b9336c0fef9d6e69c6f0c'),
 ObjectId('675b9336c0fef9d6e69c6f0d'),
 ObjectId('675b9336c0fef9d6e69c6f0e'),
 ObjectId('675b9336c0fef9d6e69c6f0f'),
 ObjectId('675b9336c0fef9d6e69c6f10'),
 ObjectId('675b9336c0fef9d6e69c6f11'),
 ObjectId('675b9336c0fef9d6e69c6f12'),
 ObjectId('675b9336c0fef9d6e69c6f13'),
 ObjectId('675b9336c0fef9d6e69c6f14'),
 ObjectId('675b9336c0fef9d6e69c6f15'),
 ObjectId('675b9336c0fef9d6e69c6f16'),
 ObjectId('675b9336c0fef9d6e69c6f17'),
 ObjectId('675b9336c0fef9d6e69c6f18'),
 ObjectId('675b9336c0fef9d6e69c6f19'),
 ObjectId('675b9336c0fef9d6e69c6f1a'),
 ObjectId('675b9336c0fef9d6e69c6f1b'),
 ObjectId('675b9336c0fef9d6e69c6f1c'),
 ObjectId('675b9336c0fef9d6e69c6f1d'),
 ObjectId('675b9336c0fef9d6e69c6f1e'),
 ObjectId('675b9336c0fef9d6e69c6f1f'),
 ObjectId('675b9336c0fef9d6e69c6f20'),
 ObjectId('675b9336c0fef9d6e69c6f21'),
 ObjectId('675b9336c0fef9d6e69c6f22'),
 ObjectId('675b9336c0fef9d6e69c6f23'),
 ObjectId('675b9336c0fef9d6e69c6f24'),
 ObjectId('675b9336c0fef9d6e69c6f25'),
 ObjectId('675b9336c0fef9d6e69c6f26')]