## 주요 구성 요소
- DataFrame = columns + values + index

In [25]:
import pandas as pd

In [26]:
data = { 
        '종목코드': ['037730', '036360', '005670']
        , '종목명': ['3R', '3SOFT', 'ACTS']
        , '현재가': [1510, 1790, 1185]
        , '등락률': [7.36, 1.65, 1.28] 
        }
pd.DataFrame(data)

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

In [27]:
df_componets = pd.DataFrame(data)
df_componets

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

In [28]:
print(type(df_componets.values))
df_componets.values

<class 'numpy.ndarray'>

array([['037730', '3R', 1510, 7.36],
       ['036360', '3SOFT', 1790, 1.65],
       ['005670', 'ACTS', 1185, 1.28]], dtype=object)

In [29]:
# 데이터 타입 형 변환
print(type(df_componets.values.tolist()))
df_componets.values.tolist()

<class 'list'>

[['037730', '3R', 1510, 7.36],
 ['036360', '3SOFT', 1790, 1.65],
 ['005670', 'ACTS', 1185, 1.28]]

In [30]:
print(type(df_componets.columns))
df_componets.columns

<class 'pandas.core.indexes.base.Index'>

Index(['종목코드', '종목명', '현재가', '등락률'], dtype='object')

In [31]:
df_componets.columns.tolist()

['종목코드', '종목명', '현재가', '등락률']

In [32]:
df_componets.index

RangeIndex(start=0, stop=3, step=1)

In [33]:
df_componets = df_componets.set_index(keys="종목코드")
df_componets

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005670   ACTS  1185  1.28

In [34]:
df_componets.index

Index(['037730', '036360', '005670'], dtype='object', name='종목코드')

In [35]:
df_componets.index.to_list()

['037730', '036360', '005670']

In [36]:
df_componets.index.name

'종목코드'

In [37]:
type(df_componets)

pandas.core.frame.DataFrame

In [38]:
df_componets= df_componets.reset_index()
# df_componets.reset_index(inplace=True) #동일기능
df_componets

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28