## 주요 구성 요소
- Series = index + values

In [18]:
import pandas as pd

In [19]:
data = [1000, 2000, 3000]
series_costs = pd.Series(data)
series_costs

0    1000
1    2000
2    3000
dtype: int64

In [20]:
type(series_costs)
series_costs

0    1000
1    2000
2    3000
dtype: int64

In [21]:
series_costs.index

RangeIndex(start=0, stop=3, step=1)

In [22]:
series_costs.values

array([1000, 2000, 3000])

In [23]:
data = { "메로나" : 1000 ,"구구콘" : 2000 , "하겐다즈" : 3000}
series_ice = pd.Series(data)
series_ice

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [24]:
series_ice.index, series_ice.values

(Index(['메로나', '구구콘', '하겐다즈'], dtype='object'), array([1000, 2000, 3000]))

### row를 가져오는 방식

#### 인덱싱
- loc[ ] 명칭, iloc[ ] 위치

In [28]:
series_ice.iloc[1], type(series_ice.iloc[1])

(2000, numpy.int64)

In [29]:
series_ice.iloc[1:3], type(series_ice.iloc[1:3])

(구구콘     2000
 하겐다즈    3000
 dtype: int64,
 pandas.core.series.Series)

In [30]:
series_ice.loc['구구콘'], type(series_ice.loc['구구콘'])

(2000, numpy.int64)

In [31]:
series_ice.loc['구구콘':'하겐다즈']

구구콘     2000
하겐다즈    3000
dtype: int64

#### 조건식
- 필터링(mark)

In [32]:
data = [42500, 42550, 41800, 42550, 42650]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']
series_yymmdd_cost = pd.Series(data=data, index=index)

In [33]:
series_yymmdd_cost

2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [38]:
# 변수, 부등호, 대상 값
conditions = ( series_yymmdd_cost > 42500 ) # 조건 사항
conditions

2019-05-31    False
2019-05-30     True
2019-05-29    False
2019-05-28     True
2019-05-27     True
dtype: bool

In [39]:
series_yymmdd_cost[conditions]

2019-05-30    42550
2019-05-28    42550
2019-05-27    42650
dtype: int64

#### 시리즈간 연산

In [40]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']

In [41]:
series_open = pd.Series(data=open, index=index)
series_close = pd.Series(data=close, index=index)

In [45]:
print(series_open)
print(series_close)

2019-05-31    42600
2019-05-30    42200
2019-05-29    41850
2019-05-28    42550
2019-05-27    42500
dtype: int64
2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [47]:
conditions = series_open > series_close
conditions

2019-05-31     True
2019-05-30    False
2019-05-29     True
2019-05-28    False
2019-05-27    False
dtype: bool

In [49]:
series_open[conditions], type(series_open[conditions])

(2019-05-31    42600
 2019-05-29    41850
 dtype: int64,
 pandas.core.series.Series)

In [50]:
calculations = series_close - series_open
calculations

2019-05-31   -100
2019-05-30    350
2019-05-29    -50
2019-05-28      0
2019-05-27    150
dtype: int64

### 정렬과 순위

In [52]:
data = [3.1, 2.0, 10.1, 5.1]
index = ['000010', '000020', '000030', '000040']
series_rates = pd.Series(data=data, index=index)
series_rates

000010     3.1
000020     2.0
000030    10.1
000040     5.1
dtype: float64

In [ ]:
series_rates.sort_values(ascending=False)

# sort_values()는 시리즈의 **값(Value)**을 기준으로 정렬하는 메서드입니다.

000030    10.1
000040     5.1
000010     3.1
000020     2.0
dtype: float64

In [ ]:
series_rates.rank()
# rank()는 시리즈의 각 값에 대해 순위를 매기는 메서드입니다.

000010    2.0
000020    1.0
000030    4.0
000040    3.0
dtype: float64