## Timestamp

In [1]:
import pandas as pd

### datetime
- 형식만 맞출 때 : 년,월,일,시,분,초,ms

In [2]:
ts_first = pd.to_datetime('2021-01-02')
ts_second = pd.to_datetime('2021-01-02 09:21:20')
ts_third = pd.to_datetime('20210102 092120')
ts_fourth = pd.to_datetime('06/08/21', format='%d/%m/%y') #format='%d/%m/%y 사용형식에 맞춰 커스텀가능

In [3]:
type(ts_first),ts_first, type(ts_second), ts_second, type(ts_third), ts_third, type(ts_fourth), ts_fourth

(pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-01-02 00:00:00'),
 pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-01-02 09:21:20'),
 pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-01-02 09:21:20'),
 pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-08-06 00:00:00'))

In [4]:
# 년, 월, 일, 시, 분, 초
ts_second.year, ts_second.month, ts_second.day, ts_second.hour, ts_second.minute, ts_second.second

(2021, 1, 2, 9, 21, 20)

In [5]:
ts_second.weekday(), ts_second.quarter

(5, 1)

In [6]:
day = 1628899200 / 60 / 60 / 24
year = day / 365
# print(year)
pd.to_datetime(1628899200, unit='s') # 년도 변환

Timestamp('2021-08-14 00:00:00')

#### timestamp 원하는 값으로 출력

In [7]:
# ts_third.strftime('%y / %m / %d') 대문자 풀네임 소문자 
ts_third, ts_third.strftime('%Y / %m / %d - %H : %M : %S')

(Timestamp('2021-01-02 09:21:20'), '2021 / 01 / 02 - 09 : 21 : 20')

### datedelta
- 일시간 계산

In [8]:
#td_first = pd.Timedelta(days=30) #날짜
td_first = pd.Timedelta(hours=2, minutes=30, seconds=20) #시 분 초
type(td_first),td_first

(pandas._libs.tslibs.timedeltas.Timedelta, Timedelta('0 days 02:30:20'))

In [9]:
ts_result_first = ts_second + td_first
type(ts_result_first), ts_result_first, ts_second

(pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-01-02 11:51:40'),
 Timestamp('2021-01-02 09:21:20'))

### 시계열 date 다루기

In [10]:
candidates = ['2024-11-01','2024-11-02','2024-11-03','2024-11-04']
type(candidates[0])

str

In [11]:
dt_first = pd.to_datetime(candidates)
type(dt_first), dt_first

(pandas.core.indexes.datetimes.DatetimeIndex,
 DatetimeIndex(['2024-11-01', '2024-11-02', '2024-11-03', '2024-11-04'], dtype='datetime64[ns]', freq=None))

In [12]:
type(dt_first[0]), dt_first[0]

(pandas._libs.tslibs.timestamps.Timestamp, Timestamp('2024-11-01 00:00:00'))

In [13]:
dt_first.quarter

Index([4, 4, 4, 4], dtype='int32')

##### with data

In [14]:
data = [
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가': 100, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  99, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가': 100, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  99, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 
]
indexes = ['20200615', '20200616', '20200717', '20200718'
           ,'20200815', '20200816', '20200917', '20200918']
df_first = pd.DataFrame(data, index=indexes)
df_first

           시가   고가  저가   종가
20200615  100  110  90  105
20200616  100  112  80   95
20200717   99  115  70   85
20200718   70   80  60   75
20200815  100  110  90  105
20200816  100  112  80   95
20200917   99  115  70   85
20200918   70   80  60   75

In [15]:
# df_first.loc['202006']
# conditions = df_first.index.str[:6] == '202006'
conditions = df_first.index.str[:4] == '2020'
conditions

array([ True,  True,  True,  True,  True,  True,  True,  True])

In [16]:
df_first.index

Index(['20200615', '20200616', '20200717', '20200718', '20200815', '20200816',
       '20200917', '20200918'],
      dtype='object')

In [17]:
df_first.index = pd.to_datetime(df_first.index)
df_first.index

DatetimeIndex(['2020-06-15', '2020-06-16', '2020-07-17', '2020-07-18',
               '2020-08-15', '2020-08-16', '2020-09-17', '2020-09-18'],
              dtype='datetime64[ns]', freq=None)

In [18]:
df_first

             시가   고가  저가   종가
2020-06-15  100  110  90  105
2020-06-16  100  112  80   95
2020-07-17   99  115  70   85
2020-07-18   70   80  60   75
2020-08-15  100  110  90  105
2020-08-16  100  112  80   95
2020-09-17   99  115  70   85
2020-09-18   70   80  60   75

In [19]:
df_first.index[0]

Timestamp('2020-06-15 00:00:00')

In [20]:
df_first.index.quarter

Index([2, 2, 3, 3, 3, 3, 3, 3], dtype='int32')

In [21]:
# df_first.loc['2020-07'] #인덱스
# df_first.loc['2020-07', '시가'] #인덱스와 컬럼
df_first.loc['2020', '시가'] #인덱스 전체와 컬럼

2020-06-15    100
2020-06-16    100
2020-07-17     99
2020-07-18     70
2020-08-15    100
2020-08-16    100
2020-09-17     99
2020-09-18     70
Name: 시가, dtype: int64

#### 컬럼에서 date 다루기

In [22]:
df_first['datetimes'] = df_first.index
df_first

             시가   고가  저가   종가  datetimes
2020-06-15  100  110  90  105 2020-06-15
2020-06-16  100  112  80   95 2020-06-16
2020-07-17   99  115  70   85 2020-07-17
2020-07-18   70   80  60   75 2020-07-18
2020-08-15  100  110  90  105 2020-08-15
2020-08-16  100  112  80   95 2020-08-16
2020-09-17   99  115  70   85 2020-09-17
2020-09-18   70   80  60   75 2020-09-18

In [23]:
df_first.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8 entries, 2020-06-15 to 2020-09-18
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시가         8 non-null      int64
 1   고가         8 non-null      int64
 2   저가         8 non-null      int64
 3   종가         8 non-null      int64
 4   datetimes  8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 384.0 bytes

In [24]:
# df_first['datetimes'].dt.year #일부를 가져올 때는 dt 를 넣기
df_first['datetimes'] #전체를 가져올때

2020-06-15   2020-06-15
2020-06-16   2020-06-16
2020-07-17   2020-07-17
2020-07-18   2020-07-18
2020-08-15   2020-08-15
2020-08-16   2020-08-16
2020-09-17   2020-09-17
2020-09-18   2020-09-18
Name: datetimes, dtype: datetime64[ns]

In [25]:
# df_first['시가']