## 열을 행 방향으로 이동

In [5]:
import pandas as pd

### Shift

In [6]:
data = [
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가': 100, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  99, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가': 100, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  99, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 
]
indexes = ['20200615', '20200616', '20200717', '20200718'
           ,'20200815', '20200816', '20200917', '20200918']
df_first = pd.DataFrame(data, index=indexes)
df_first.index = pd.to_datetime(df_first.index)
# df_first.info()
df_first.index

DatetimeIndex(['2020-06-15', '2020-06-16', '2020-07-17', '2020-07-18',
               '2020-08-15', '2020-08-16', '2020-09-17', '2020-09-18'],
              dtype='datetime64[ns]', freq=None)

#### 전날 종가와 차이

In [7]:
df_first['전일종가'] = df_first['종가'].shift(periods=1) #1일전 전일종가
# df_first['3일종가'] = df_first['종가'].shift(periods=3) #3일전 
df_first

             시가   고가  저가   종가   전일종가
2020-06-15  100  110  90  105    NaN
2020-06-16  100  112  80   95  105.0
2020-07-17   99  115  70   85   95.0
2020-07-18   70   80  60   75   85.0
2020-08-15  100  110  90  105   75.0
2020-08-16  100  112  80   95  105.0
2020-09-17   99  115  70   85   95.0
2020-09-18   70   80  60   75   85.0

In [8]:
conditions = df_first['종가'] > df_first['전일종가'] #비교
conditions

2020-06-15    False
2020-06-16    False
2020-07-17    False
2020-07-18    False
2020-08-15     True
2020-08-16    False
2020-09-17    False
2020-09-18    False
dtype: bool

In [9]:
df_first[conditions] #비교 해당부분 추출

             시가   고가  저가   종가  전일종가
2020-08-15  100  110  90  105  75.0

In [10]:
# df_first['종가'] - df_first['전일종가']
(df_first['종가'] - df_first['전일종가']) >= 10

2020-06-15    False
2020-06-16    False
2020-07-17    False
2020-07-18    False
2020-08-15     True
2020-08-16    False
2020-09-17    False
2020-09-18    False
dtype: bool

### 수익률 계산 with shift

In [11]:
df_first['종가'] / df_first['시가']

2020-06-15    1.050000
2020-06-16    0.950000
2020-07-17    0.858586
2020-07-18    1.071429
2020-08-15    1.050000
2020-08-16    0.950000
2020-09-17    0.858586
2020-09-18    1.071429
dtype: float64

### rolling()
- shift, 연산가능

In [13]:
# 샘플 데이터 생성 

data = { 'value': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100] }

df_second = pd.DataFrame(data)
df_second

   value
0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100

In [17]:
# df_second.rolling(window=3)
df_second['rolling3'] = df_second['value'].rolling(window=3).mean()
df_second['rolling6'] = df_second['value'].rolling(window=6).mean()

In [18]:
df_second

   value  rolling3  rolling6
0     10       NaN       NaN
1     20       NaN       NaN
2     30      20.0       NaN
3     40      30.0       NaN
4     50      40.0       NaN
5     60      50.0      35.0
6     70      60.0      45.0
7     80      70.0      55.0
8     90      80.0      65.0
9    100      90.0      75.0